{% extends "layout/layout.html" %}
{% block body %}
<h1>
    Register
</h1>
<form id="register" method="post">
    {{ form.csrf_token }}
    <input type="text" name="useremail" placeholder="email" value="{{ '' if user == None else user.useremail }}" required>
    <input type="text" name="userdescription" placeholder="description" value="{{ '' if user == None else user.userdescription }}" required>
    {% for role in all_roles %}
        <div>
            <label for="{{ role.role_name }}">{{ role.role_name }}</label>
            <input id="{{ role.role_name }}" type="checkbox" name="{{ role.role_name }}"
                   placeholder="{{ role.role_name }}" value="{{ role.role_name }}"
                   {% if user.has_role(role) %}checked{% endif %}>
        </div>
    {% endfor %}
    <input type="submit" value="Send">
</form>
{% endblock %}